@font-face {
    font-family: 'Hoss Round Medium';
    src: url('fonts/fonnts.com-Hoss_Round_Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Hoss Round Medium', sans-serif;
}

.background-container {
    position: relative;
    background-image: url("images/Wolkenfaenger_Screen_Final_BG.jpg");
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;

}

.balloon {
    display: flex;
    font-size: 3vh;
}

.id {
    margin-right: 10vw;
    color: rgb(3, 138, 145);
}

.score {
    color: white;
    text-align: right;
}

#id1 {
    position: absolute;
    top: 21.4vh;
    left: 34vw;
}
#score1 {
    position: absolute;
    top: 21.4vh;
    left: 50vw;
}

#id2 {
    position: absolute;
    top: 29vh;
    left: 34vw;
}
#score2 {
    position: absolute;
    top: 29vh;
    left: 50vw;
}

#id3 {
    position: absolute;
    top: 33.8vh;
    left: 34vw;
}
#score3 {
    position: absolute;
    top: 33.8vh;
    left: 50vw;
}

#id4 {
    position: absolute;
    top: 38.5vh;
    left: 34vw;
}
#score4 {
    position: absolute;
    top: 38.5vh;
    left: 50vw;
}

#id5 {
    position: absolute;
    top: 43.2vh;
    left: 34vw;
}
#score5 {
    position: absolute;
    top: 43.2vh;
    left: 50vw;
}

#id6 {
    position: absolute;
    top: 47.8vh;
    left: 34vw;
}
#score6 {
    position: absolute;
    top: 47.8vh;
    left: 50vw;
}

#id7 {
    position: absolute;
    top: 52.5vh;
    left: 34vw;
}
#score7 {
    position: absolute;
    top: 52.5vh;
    left: 50vw;
}

#id8 {
    position: absolute;
    top: 57.2vh;
    left: 34vw;
}
#score8 {
    position: absolute;
    top: 57.2vh;
    left: 50vw;
}

#id9 {
    position: absolute;
    top: 61.9vh;
    left: 34vw;
}
#score9 {
    position: absolute;
    top: 61.9vh;
    left: 50vw;
}

#id10 {
    position: absolute;
    top: 66.5vh;
    left: 34vw;
}
#score10 {
    position: absolute;
    top: 66.5vh;
    left: 50vw;
}

#id11 {
    position: absolute;
    top: 71.2vh;
    left: 34vw;
}
#score11 {
    position: absolute;
    top: 71.2vh;
    left: 50vw;
}

#id12 {
    position: absolute;
    top: 76vh;
    left: 34vw;
}
#score12 {
    position: absolute;
    top: 76vh;
    left: 50vw;
}

#tagesrekord {
    font-size: 3vh;
    color: white;
    position: absolute;
    top: 85vh;
    left: 70vw;
}

#jahresrekord {
    font-size: 3vh;
    color: white;
    position: absolute;
    top: 89vh;
    left: 70vw;
}
