body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.background-container {
    position: relative;
    background-image: url("images/Wolkenfaenger_Screen_Final_BG.jpg");
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%; /* Das Bild wird so skaliert, dass es den gesamten Container ausfüllt */

}

.balloon {
    display: flex;
    font-size: 2vh;
}

.id {
    margin-right: 5vh;
}

#balloon1 {
    position: absolute;
    top: 22vh;
    left: 35vw;
}

#balloon2 {
    position: absolute;
    top: 29.7vh;
    left: 35vw;
}

#balloon3 {
    position: absolute;
    top: 34.4vh;
    left: 35vw;
}

#balloon4 {
    position: absolute;
    top: 39vh;
    left: 35vw;
}

#balloon5 {
    position: absolute;
    top: 43.7vh;
    left: 35vw;
}

#balloon6 {
    position: absolute;
    top: 48.5vh;
    left: 35vw;
}

#balloon7 {
    position: absolute;
    top: 53.2vh;
    left: 35vw;
}

#balloon8 {
    position: absolute;
    top: 57.8vh;
    left: 35vw;
}

#balloon9 {
    position: absolute;
    top: 62.5vh;
    left: 35vw;
}

#balloon10 {
    position: absolute;
    top: 67.1vh;
    left: 35vw;
}

#balloon11 {
    position: absolute;
    top: 71.8vh;
    left: 35vw;
}

#balloon12 {
    position: absolute;
    top: 76.5vh;
    left: 35vw;
}

#tagesrekord {
    font-size: 3vh;
    position: absolute;
    top: 85vh;
    left: 70vw;
}

#jahresrekord {
    font-size: 3vh;
    position: absolute;
    top: 89vh;
    left: 70vw;
}
