@font-face {
    font-family: 'Hoss Round Medium';
    src: url('fonts/fonnts.com-Hoss_Round_Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Hoss Round Medium', sans-serif;
}

.background-container {
    position: relative;
    background-image: url("images/Wolkenfaenger_Screen_Final_BG.jpg");
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;

}

.balloon {
    display: flex;
    font-size: 3vh;
}

.id {
    margin-right: 5vh;
    color: rgb(3, 138, 145);
}

.score {
    color: white;
}

#balloon1 {
    position: absolute;
    top: 21.4vh;
    left: 34vw;
}

#balloon2 {
    position: absolute;
    top: 29vh;
    left: 33.1vw;
}

#balloon3 {
    position: absolute;
    top: 33.8vh;
    left: 33.2vw;
}

#balloon4 {
    position: absolute;
    top: 38.5vh;
    left: 33.1vw;
}

#balloon5 {
    position: absolute;
    top: 43.2vh;
    left: 33.2vw;
}

#balloon6 {
    position: absolute;
    top: 47.8vh;
    left: 33.1vw;
}

#balloon7 {
    position: absolute;
    top: 52.5vh;
    left: 33.4vw;
}

#balloon8 {
    position: absolute;
    top: 57.2vh;
    left: 33.1vw;
}

#balloon9 {
    position: absolute;
    top: 61.9vh;
    left: 33.2vw;
}

#balloon10 {
    position: absolute;
    top: 66.5vh;
    left: 34.1vw;
}

#balloon11 {
    position: absolute;
    top: 71.2vh;
    left: 34.9vw;
}

#balloon12 {
    position: absolute;
    top: 76vh;
    left: 34.2vw;
}

#tagesrekord {
    font-size: 3vh;
    color: white;
    position: absolute;
    top: 85vh;
    left: 70vw;
}

#jahresrekord {
    font-size: 3vh;
    color: white;
    position: absolute;
    top: 89vh;
    left: 70vw;
}



