<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/queue.css">
    <title>Queue</title>
</head>
<body>
    <div class="background-container">
        <div class="score-list">
            <div id="balloon0" class="balloon">
                <div id="id0" class="id">0</div>
                <div id="score0" class="score">999</div>
            </div>
            <div id="balloon1" class="balloon">
                <div id="id1" class="id">1</div>
                <div id="score1" class="score">999</div>
            </div>
            <div id="balloon2" class="balloon">
                <div id="id2" class="id">2</div>
                <div id="score2" class="score">999</div>
            </div>
            <div id="balloon3" class="balloon">
                <div id="id3" class="id">3</div>
                <div id="score3" class="score">999</div>
            </div>
            <div id="balloon4" class="balloon">
                <div id="id4" class="id">4</div>
                <div id="score4" class="score">999</div>
            </div>
            <div id="balloon5" class="balloon">
                <div id="id5" class="id">5</div>
                <div id="score5" class="score">999</div>
            </div>
            <div id="balloon6" class="balloon">
                <div id="id6" class="id">6</div>
                <div id="score6" class="score">999</div>
            </div>
            <div id="balloon7" class="balloon">
                <div id="id7" class="id">7</div>
                <div id="score7" class="score">999</div>
            </div>
            <div id="balloon8" class="balloon">
                <div id="id8" class="id">8</div>
                <div id="score8" class="score">999</div>
            </div>
            <div id="balloon9" class="balloon">
                <div id="id9" class="id">9</div>
                <div id="score9" class="score">999</div>
            </div>
            <div id="balloon10" class="balloon">
                <div id="id10" class="id">10</div>
                <div id="score10" class="score">999</div>
            </div>
            <div id="balloon11" class="balloon">
                <div id="id11" class="id">11</div>
                <div id="score11" class="score">999</div>
            </div>
            <div id="balloon12" class="balloon">
                <div id="id12" class="id">12</div>
                <div id="score12" class="score">999</div>
            </div>
        </div>
        <div id="tagesrekord">999</div>
        <div id="jahresrekord">999</div>
    </div>
    <script src="../static/queue.js"></script>
</body>
</html>